<input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" checked />
<header class="site-header">
    <p class="site-title"><a href="{{ site.baseurl }}/">Bruno Pinto</a></p>
    <label for="main-nav-toggle" id="toggle"><i class="fas fa-bars"></i></label>
    <nav class="main-nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about/">About</a></li>
            <li><a href="{{ site.baseurl }}/portfolio/">Portfolio</a></li>
            <li><a href="{{ site.baseurl }}/experience/">Experience</a></li>
            <li><a href="{{ site.baseurl }}/contacts/">Contacts</a></li>
        </ul>
    </nav>
</header>