html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background: rgb(248, 243, 240);
}

.site-header,
.site-footer {
    flex: 1 0 100%;
    min-height: 10%;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.site-footer {
    align-content: flex-end;
}


.right-side,
.left-side {
    
    min-height: 100%;
    margin: 0;
    padding: 0;
}


.left-side {
    flex: 1 0 40%;
}

.right-side {
    flex: 1 0 60%;
}

.fixed-page-titles {
    position: fixed;
    top: 45%;
    left: 8%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

@media screen and (max-width:1700px) {
    .fixed-page-titles {
        left: 5%;
    }
}

@media screen and (max-width:1600px) {
    .fixed-page-titles {
        left: 2%;
    }
}
