.site-header .main-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index:5;
}
.site-header .main-nav ul {
    display: flex;
    margin: 0;
}

.site-header .main-nav a {
    font-size: 1.2rem;
}

.site-header .main-nav a {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    background: darkred;
    color: rgb(248, 243, 240);
    font-weight: bold;
    border-top: 0.2rem solid #333;
    border-bottom: 0.2rem solid #333;
}

.site-header .main-nav li:hover a,
.site-header .main-nav a:hover {
    background: rgb(248, 243, 240);
    color: #333;
    border-top: 0.2rem solid rgb(248, 243, 240);
    border-bottom: 0.2rem solid rgb(248, 243, 240);
}

#toggle {
    display: none;
}

#main-nav-toggle {
    display: none;
}

@media screen and (max-width:1120px) { 
    .site-header .main-nav{
        display: none;
    }
    #toggle {
        display: block;
        color:rgb(248, 243, 240);
        font-size:2rem;
        background: darkred;
        padding: 0 0.9rem;
        
    }
    #main-nav-toggle:checked + .site-header .main-nav{
        display: block;
        flex: 1 0 100%;
    }
    #main-nav-toggle:checked + .site-header .main-nav ul{
        display: block;
        flex: 1 0 100%;
        text-align: center;
    }

}

